
.social-media {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.social-media ul li {
    list-style: none;
    color: #fff;
    padding-top: 20px;
}

.header {
    position: absolute;
    top: 38%;
    left: 34%;
    transform: translate(-50%, -50%);
}

.header h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 85px;
    padding: 0;
    font-family: Arial;
}

.header p {
    color: #fff;
    font-weight: lighter;
}

.header button {
    margin-top: 4px;
    border: #fff;
    border-style: solid;
    border-width: 0.5px;
    padding: 16px 40px;
    background: transparent;
    color: white;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 140%;
}
