extends layout

block content

  .row
    .col-6
        
    .contenedor
      .col-6
      - if (true)
        table#butacas.tablabutacas
            tr
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td 
                    .seat
                td
                td
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td  
                    .seat
                td
                    .seat
                td  
                    .seat
                td
                    .seat
                td  
                    .seat
            tr
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td 
                    .seat
                td
                td
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td  
                    .seat
                td
                    .seat
                td  
                    .seat
                td
                    .seat
                td  
                    .seat
            tr
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td 
                    .seat
                td
                td
                td
                    .seat
                td
                    .seat
                td
                    .seat
                td  
                    .seat
                td
                    .seat
                td  
                    .seat
                td
                    .seat
                td  
                    .seat

