extends layout

block content
 
    .row
        .col-6
            .header
            h1 Cines Muralla.
            p experimenta el cine en su máxima expresión 
            button#boton LOGIN
        .contenedor#contenedor
            .col-6