extends layout

block content

.social-media
    ul
        li
            i.fa.fa-facebook(aria-hidden='true')
        li
            i.fa.fa-instagram(aria-hidden='true')
        li
            i.fa.fa-twitter(aria-hidden='true')
.header
    h1 Cines Muralla.
    p experimenta el cine en su máxima expresión 
    button.login LOGIN